<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="myVariable" value="test"/>
    <add key="user" value="Agenix"/>
    <add key="welcomeText" value="Hello ${user}!"/>
    <add key="todayDate" value="Today is agenix:CurrentDate('yyyy-MM-dd')!"/>
  </appSettings>
</configuration>
